@model TwilioTester.Models.Contact

<h2>Save Contact</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.FirstName)
    @Html.TextBoxFor(model => model.FirstName)
    @Html.LabelFor(model => model.LastName)
    @Html.TextBoxFor(model => model.LastName)
    @Html.LabelFor(model => model.Number)
    @Html.TextBoxFor(model => model.Number)
    @Html.LabelFor(model => model.Email)
    @Html.TextBoxFor(model => model.Email)

    <label>Register with mailchimp?</label>
    <input type="checkbox" name="subscribed" value="subscribed">
    <input type="submit" class="add-user" value="Send" />
}