@model TwilioTester.Models.Contact

<h2>Save Contact</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.firstName)
    @Html.TextBoxFor(model => model.firstName)
    @Html.LabelFor(model => model.lastName)
    @Html.TextBoxFor(model => model.lastName)
    @Html.LabelFor(model => model.number)
    @Html.TextBoxFor(model => model.number)
    @Html.LabelFor(model => model.email)
    @Html.TextBoxFor(model => model.email)

    <label>Register with mailchimp?</label>
    <input type="checkbox" name="subscribed" value="subscribed">
    <input type="submit" value="Send" />
}