@{
    ViewData["Title"] = "TwilioTester";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Twilio;
@using TwilioTester.Models

@model IList<TwilioTester.Models.Contact>

<h2>Text Messaging App using Twilio API</h2>
<hr />
@Html.ActionLink("View all Messages", "GetMessages")
<br />
@Html.ActionLink("Send a new message", "SendMessage")
<br />
@Html.ActionLink("Add a new Contact", "AddContact")
<br />
@Html.ActionLink("make a phone call", "VoiceCall")


<h1>Contacts</h1>
@if (Model.Count() == 0)
{

    <p>add contact</p>
}
else
{
@foreach (var contact in Model)
    {
    <li>@contact.name</li>
    <li>@contact.number</li>

}
}


